@import "compass/css3";
@import "foundation.min";


$font: Arial, Helvetica, sans-serif;

body {
  font-family: $font;
  font-size: 14px;
}

.button {
  &.meetup { background: #E51938; }
  &.facebook { background: #3B5998; }
  &.twitter { background: #4099FF; }
  // &.github { background: #4099FF; }
}

@media only screen and (max-width: 767px) {

.button {
display: inline-block;
}
}

.home_view {
  // background: #fff;
  background: #f4f4f4;

  body {
    font-family: $font;
    background: none;
    font-size: 12px;
  }

  h1, h1, h2, h3, h4, h5, h6 {
    font-family: $font;
  }

  h1 {
    @include text-shadow(0 1px 0 #fff);
    font-size: 20px;
    text-transform: uppercase;
  }

  body > div {
    background: none;
    border: none;
  }
}


.wrap {
  min-width: 300px;
  max-width: 600px;
  // width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
