<hgroup>
  <div id="logo">
    <img src="/images/logo.png" />
  </div>

  <div id="mailing_list">
    <a href="https://groups.google.com/forum/?fromgroups#!forum/rubybdx" class="googleGroupsLink">
      Voir les archives<img src="http://groups.google.com/intl/en/images/logos/groups_logo.gif" class="googleGroupsLogo" alt="Google groups"/>
    </a>
  </div>

  <div>
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
    {% endif %}
  </div>
</hgroup>
