<hgroup>
  <div id='logo'>
    <img src='/images/logo.png' />
  </div>

  <div id='mailing_list'>
    <span style='font-size:75%'>Vous souhaitez prolonger les discussions de l'apéro ? </span>
    <br />
    Inscrivez-vous sur la mailing list rubybdx:
    <form action="http://groups.google.com/group/rubybdx/boxsubscribe">
      Email: <input type=text name=email>
      <input type=submit name="sub" value="Souscrire">
    </form> 
    <img src="http://groups.google.com/intl/en/images/logos/groups_logo.gif" style='height:16px; float: right;'/>
  </div>

  <div>
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
    {% endif %}
  </div>
</hgroup>