<hgroup>
  <div id='logo'>
    <img src='/images/logo.png' />
  </div>

  <div id='mailing_list'>
    <!-- Begin MailChimp Signup Form -->
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:grey; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      #mc_embed_signup input.email
      {
        width: 85%;
      }
    </style>
    <div id="mc_embed_signup">
    <form action="http://harakys.us2.list-manage1.com/subscribe/post?u=6297de64ca11d7d96b3309061&amp;id=563b791681" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    	<label for="mce-EMAIL">Inscrivez-vous sur notre Mailing list</label>
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    	<div class="clear"><input type="submit" value="Souscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </div>

  <div>
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
    {% endif %}
  </div>
</hgroup>
