---
layout: post
title: "Date Pour L'apéro De Janvier"
date: 2011-12-22 11:57
comments: true
categories: 
---
%p
  Le premier mardi de Janvier tombe juste après le lundi de reprise.
  %br
  Je me demandais si on fait l'apéro le 3 ou si un décale d'une semaine.
%iframe{src:"http://doodle.com/uif6c9cx2x7drt32", width:"842px", height:"800px"}

