---
layout: post
title: "Apéro De Janvier Le 10"
date: 2011-12-30 22:53
comments: true
categories: 
---
%p
  Le prochain Apéro Ruby bordelais aura lieux le 10 Janvier, comme d'habitude au
  %a{href:"http://www.bordeauxcafe.com/fr/lieux/22490-ship-and-anchor"}="Ship and anchor"
  à partir de 19h.
%p
  Utilisez ce doodle pour nous dire que vous serez-là ... merci ! :-)

%iframe{src:"http://www.doodle.com/npidd7e55a86ku3p", width:"842px", height:"800px"}

